/* 
PEACH1 : #F39189
BLUE1: #046582
Peachoff #BB8082
Grey #6E7582

*/

body{
    background-image: url('https://wallpaperbat.com/img/554289-do-you-want-to-gain-some-natural-inspirations-be-dazzle-by-the-inspiration-you-can-find-at-pullcasteu-sunset-wallpaper-sky-aesthetic-beach-wallpaper.jpg')
    /* background-color: #046582;   */
    /* background-color: #F5685D; */
}


.container{
    display: grid;
    row-gap: 20px;
    column-gap: 20px;
    grid-template-columns: auto;
    grid-template-rows: auto;
}



.Task{
    text-align: left;
    color: antiquewhite;
    border-color:bisque;
    border-style: solid;
    border-width: 3px;
    font-family: Georgia;
    font-size: 40px;
    opacity: 62%;
    padding: 5px;
}

.TaskDone{
    text-align: left;
    color: antiquewhite;
    border-color:bisque;
    border-style: solid;
    border-width: 3px;
    font-family: Georgia;
    font-size: 40px;
    opacity: 62%;
    padding: 5px;
    text-decoration: line-through
}

.AddNew{
    color: antiquewhite;
    font-family: Georgia;
    opacity: 62%;
    
}

.Header{
    text-align: center;
    font-size: 50px;
}

#time{
    font-size: 140px;
    font-weight: lighter;
    margin: 5px;
    text-align: left;
}

#day{
    font-size: 60px;
    font-weight: lighter;
    margin: 5px;
    text-align: left;
}

.Task:hover{
    background-color: black;
    
}

#paragraph{
    font-size: 40px;
}



.CompletedTask{
    text-align: left;
    color: antiquewhite;
    /* border-radius: 30px; */
    border-color:bisque;
    border-style: solid;
    border-width: 3px;
    font-family: Georgia;
    font-size: 40px;
    opacity: 62%;
    padding: 5px;
    min-height: ;
    text-decoration: line-through;
    text-decoration-thickness: 2px;
    opacity: 50%;
    height: 100%;
}


#incompleteToggle{
    width:50%;
}
#allToggle{
    width: 50%;
}
#taskFilter{
    width: 100%;
}

#newTaskInput{
    background-color: transparent;
    color: antiquewhite; 
    text-align: left;
    /* color: antiquewhite; */
    /* border-radius: 30px; */
    border-color:bisque;
    border-style: solid;
    border-width: 3px;
    font-family: Georgia;
    font-size: 40px;
    opacity: 62%;
    padding: 5px;
}

.form-contorl::-webkit-input-placeholder {
    color:  antiquewhite !important;
    opacity: 1;
}

.NoTasks{
    text-align: center;
    font-weight: 400;
    margin-top: 100px;
    font-size: 70px;
    color: antiquewhite;
    text-transform: lowercase;
    opacity: 90%;
}

.form-control::placeholder{
    color:antiquewhite;
}
#addTaskButton{
    color: grey;
    background-color:bisque;
    border-color:bisque;
    font-family: Georgia;
    font-weight: bold;

}

#deleteCompletedTasks{
    background-color:antiquewhite;
    border-color:antiquewhite;
    color:grey;
}