

body{
    background-image: url('https://wallpaperbat.com/img/554289-do-you-want-to-gain-some-natural-inspirations-be-dazzle-by-the-inspiration-you-can-find-at-pullcasteu-sunset-wallpaper-sky-aesthetic-beach-wallpaper.jpg')
    /* background-color: #046582;   */
    /* background-color: #F5685D; */
}


.container{
    display: grid;
    row-gap: 20px;
    column-gap: 20px;
    grid-template-columns: auto;
    grid-template-rows: auto;
}

.top-buffer {
    margin-top: 5px;
}

.Task{
    text-align: left;
    color: antiquewhite !important;
    border-color:bisque;
    border-style: solid;
    border-width: 3px;
    font-family: Georgia;
    font-size: 30px;
    opacity: 62%;
    padding: 5px;
    display: inline-block;

}


.AddNew{
    color: antiquewhite;
    font-family: Georgia;
    opacity: 62%;
    
}

.Header{
    text-align: center;
    font-size: 40px;
}

#time{
    font-size: 90px;
    font-weight: lighter;
    margin: 5px;
    text-align: left;
}

#day{
    font-size: 40px;
    font-weight: lighter;
    margin: 5px;
    text-align: left;
}

.Task:hover{
    background-color: black;
    
}

.TaskDone:hover{
    background-color: black;
    
}

#paragraph{
    font-size: 40px;
}

.SelectedTab{
    background-color:darkslategrey;
    min-width: 100%;
}

.Tab{
    background-color: grey;
}

.CompletedTask{
    text-align: left;
    color: antiquewhite;
    /* border-radius: 30px; */
    border-color:bisque;
    border-style: solid;
    border-width: 3px;
    font-family: Georgia;
    font-size: 30px;
    opacity: 62%;
    padding: 5px;
    /* min-height: ; */
    text-decoration: line-through;
    text-decoration-thickness: 2px;
    opacity: 50%;
    height: 100%;
}


#incompleteToggle{
    width:50%;
}
#allToggle{
    width: 50%;
}
#taskFilter{
    width: 100%;
}

#newTaskInput{
    background-color: transparent;
    color: antiquewhite; 
    text-align: left;
    /* color: antiquewhite; */
    /* border-radius: 30px; */
    border-color:bisque;
    border-style: solid;
    border-width: 3px;
    font-family: Georgia;
    font-size: 30px;
    opacity: 62%;
    padding: 5px;
}

.form-contorl::-webkit-input-placeholder {
    color:  antiquewhite !important;
    opacity: 1;
}

.NoTasks{
    text-align: center;
    font-weight: 400;
    margin-top: 100px;
    font-size: 70px;
    color: antiquewhite;
    text-transform: lowercase;
    opacity: 90%;
}

.form-control::placeholder{
    color:antiquewhite;
}
#addTaskButton{
    color: grey;
    background-color:bisque;
    border-color:bisque;
    font-family: Georgia;
    font-weight: bold;
    height:100%;
}

#deleteCompletedTasks{
    background-color:antiquewhite;
    border-color:antiquewhite;
    color:grey;
}

div FontAwesomeIcon{
    position: absolute;
    right: 0;
    bottom: 0;
    display: inline-block;

  }


  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 640pt;
    right: 360pt;
    width: 360pt;
    height: 640pt;
    background-color: rgba(0, 0, 0, .3);
}

.taskModal {
    background-color: antiquewhite;
    border-radius: 5pt;
    border-color: bisque;
    border-style: solid;
    margin: 200px 22px 0px 20px;
    top: 0px;
    left: 0px;
    height: 100px;
    width: 300px;
    padding: 10pt;
    position: relative;
}

.alert-buttons {
    position: absolute;
    display: flex;
    bottom: 0;
    right: 0;
    background-color: antiquewhite;
    color:antiquewhite;
}

.alert-button.alert-cancel{
    color:#6E7582;
    background-color:antiquewhite;
    border-color: bisque;
}

.alert-button.alert-ok{
    color:#6E7582;
    background-color:antiquewhite;
    border-color:bisque;
}

.taskEditor{
    background-color: white;
    border-color:bisque;
    border-radius:3px;
    border-width: 1px;
}
